@use "variables" as *;
  // Main header section

  .mainHeader {
    display: flex;
    background-color: $Peach;
    align-items: center;
  }
  
  .mainText {
    margin-left: 220px;
  }
  
  .maintext,
  .discount2,
  h3,
  p {
    margin: 5px;
  }
  
  .mainText .discount2 {
    font-weight: 400;
  }
  
  .mainText h3 {
    font-size: 50px;
  }
  
  .mainText p {
    font-size: 13px;
  }
  
  .disNowBtn {
    background-color: #abd373;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-top: 20px;
  }
  
  .headerImg {
    margin-left: 15px;
    max-height: 75%;
  }
  
  // Main section
  .serviceDtl {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .serviceCtr {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #abd373;
    padding: 20px;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  .guaranteeTitle {
    font-size: 20px;
  }
  
  .guaranteeSub {
    font-size: 15px;
  }
  
  .productHeader {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    font-weight: 800;
  }
  
  .productNav,
  nav,
  ul,
  li,
  a {
    font-size: 20px;
  }
  
  .filter1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #abd373;
    padding: 20px 30px;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  .filter1 a {
    color: #abd373;
  }
  
  .filter2,
  .filter3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid slategray;
    padding: 20px 30px;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  // Main section - Gallery
  .gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    gap: 20px;
  }
  
  .gallery .photoContainer img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }
  
  .productTitle {
    font-size: 15px;
  }
  
  .productPrice {
    font-size: 13px;
    color: #abd373;
  }
  
  // Main section - Collection
  .collection {
    // display: grid;
    // grid-template-columns: 1fr 0.5fr;
    display: flex;
    flex-wrap: wrap;
    // height: 50vh;
    justify-content: center;
    align-items: center;
    // background-color: green;
  }
  
  .potteryCol1 {
      .potteryText{
        margin-left: 100px;
    }
  }
  
  .potteryCol2{
    .potterytext {
      margin-left: 100px
    }
  }
  
  .potteryText  {
    
    h3 {
      font-size: 15px;
      margin: 0;
      font-weight: 300;
    }
  
    h4 {
      font-size: 35px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
  
  .plantPortText {
    margin-left: 70px;
    position: relative;
    bottom: 266px;
    text-align: center;
    }
  
  .potteryText {
    position: relative;
    bottom: 200px;
  }
  
  .potteryText {
    margin-left: 100px;
    }
  
  
  .plantPortText {
    // text-align: center;
    // margin-top: -250px;
  
    h3 {
      font-size: 15px;
      margin: 0;
      font-weight: 300;
      text-align: center;
    }
  
    h4 {
      font-size: 35px;
      margin-top: 10px;
      margin-bottom: 25px;
      text-align: center;
    }
  }
  
  
  .shopNowBtn {
    background-color: #abd373;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-top: 20px;
  }
  
  // Main section - Blog
  .blog {
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .blogHeading h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
  }
  
  .blogHeading p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
  }
  
  .blogContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 2px $LightGrey;
  }
  
  .blogContainer h4 {
    color: $PrimaryGreen;
  }
  
  .blogContainer h5 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .blogContainer p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  
  .blogContainer,
  h4,
  h5,
  p {
    margin-left: 0px;
  }
  
  .blog1,
  .blog2,
  .blog3 {
    background-color: $LightGrey;
    flex-basis: calc(33.33% - 10px);
    border-radius: 30px;
    padding: 15px;
  }
  
  .blog1,
  .blog2,
  .blog3,
  img {
    margin-left: 65px;
  }